@font-face {
    font-family: "SN Pro";
    src: url("SNPro-VariableFont_wght.ttf");
}

@keyframes show-in {
  from {
    scale: 0.95;
  }
  to {
    scale: 1.0;
  }
}

.success { color: rgb(129, 199, 132); }
.primary { color: rgb(144, 202, 249); }
.error   { color: rgb(229, 115, 115); }

:root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fffa;
  font-family: "SN Pro";

  &>* {
    margin: 20px;
  }
}

text,span {
  animation: 0.4s ease-out show-in;
  scale: initial;
  text-shadow: #0007 1px 1px;
}

#crosshair {
  background-image: url("crosshair.png");
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;
}

#stats {
  flex-direction: column;
  position: absolute;
  top: 0px;

  &>*>span {
    color: #eee6;
  }
}

#controls {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#info {
  position: absolute;
  top: 0px;
  right: 0%;
  gap: 10px;
  flex-direction: column;

  &>* {
    background: #0009;
    padding: 20px;
    border-radius: 20px;
  }
}

#connection, #players {
  flex-direction: column;
}

#players>.player {
  padding: 4px 10px;
  color: var(--player-color);
  gap: 10px;
  align-items: center;

  &.controlled {
    background: #0006;
    border: 1px #fff1;
    border-radius: 15%;
  }
  &>.player-icon {
    width: 8px;
    height: 8px;
    background: var(--player-color);
    border-radius: 50%;
  }
  &>.player-name {
    flex-grow: 1;
    min-width: 180px;
    max-width: 250px;
  }
  &>.player-id {
    color: #fff3;
  }
}
