@keyframes show-in {
  from {
    scale: 0.95;
  }
  to {
    scale: 1.0;
  }
}

.success { color: rgb(129, 199, 132); }
.primary { color: rgb(144, 202, 249); }
.error   { color: rgb(229, 115, 115); }

:root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fffa;

  &>* {
    margin: 20px;
  }
}

text,span {
  animation: 0.4s ease-out show-in;
  text-shadow: #0007 1px 1px;
}

#position {
  position: absolute;
  top: 0px;

  &>span {
    color: #eee8;
  }
}

#controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#info {
  position: absolute;
  top: 0px;
  right: 0%;
  gap: 10px;
  flex-direction: column;

  &>* {
    background: #0009;
    padding: 20px;
    border-radius: 20px;
  }
}

#connection, #players {
  flex-direction: column;
}

#players>.player {
  padding: 4px;
  color: var(--player-color);
  gap: 10px;

  &.controlled {
    border: 1px #eee2;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 15%;
  }
  &>.player-icon {
    width: 12px;
    height: 12px;
    align-self: center;
    background: var(--player-color);
    border-radius: 50%;
  }
  &>.player-id {
    color: #eee8;
  }
}
